<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="id" type="templates"*/-->
<!--/*@thymesVar id="author" type="templates"*/-->
<!--/*@thymesVar id="subject" type="templates"*/-->
<!--/*@thymesVar id="text" type="templates"*/-->
<!--/*@thymesVar id="isCompleted" type="templates"*/-->
<!--/*@thymesVar id="isAdmin" type="templates"*/-->

<div th:fragment="message(id, author, subject, text, isCompleted, isAdmin)">
    <div class="card mx-2 mb-2">
        <div class="card-header">
            <span th:text="${author}"></span> : <span th:text="${subject}"></span>
        </div>
        <div class="card-body">
            <span th:text="${text}"></span>
        </div>
        <div class="card-footer"
             th:if="${(#authentication.getName().equals(author) || (isAdmin)) && !isCompleted}">
            <div class="row">
                <form class="col-2">
                    <button class="btn btn-dark col text-center mr-1" type="button" data-toggle="modal"
                            th:attr="data-target='#edit-form' + ${id}">Edit
                    </button>
                </form>
                <form class="col-2" th:action="@{/messages/delete/{id}(id=${id})}" th:method="delete">
                    <button class="btn btn-danger col text-center mr-1" type="submit">Delete</button>
                </form>
                <form th:if="${isAdmin && !isCompleted}" class="col-3" th:action="@{/messages/complete/{id}(id=${id})}"
                      th:method="put">
                    <button class="btn btn-warning col-12 text-center" type="submit">Complete task</button>
                </form>
            </div>
        </div>
        <div class="card-footer" th:if="${isCompleted}">
            Task is completed
        </div>

        <div class="modal fade" th:id="'edit-form' + ${id}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form class="modal-content" th:action="@{/messages/edit/{id}(id=${id})}" th:method="put">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body form-group">
                        <div class="form-row">
                            <input class="form-control col-2 mr-1" type="text" name="subject" id="subject"
                                   autocomplete="off"
                                   placeholder="Subject" th:value="${subject}" required/>
                            <input class="form-control col ml-1" type="text" name="text" id="text" autocomplete="off"
                                   placeholder="Enter your message here" th:value="${text}" required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>