<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="id" type="templates"*/-->
<!--/*@thymesVar id="author" type="templates"*/-->
<!--/*@thymesVar id="subject" type="templates"*/-->
<!--/*@thymesVar id="text" type="templates"*/-->

<div th:fragment="message(id, author, subject, text)">
    <div class="card mx-2 mb-2">
        <div class="card-header">
            <span th:text="${author}"></span> : <span th:text="${subject}"></span>
        </div>
        <div class="card-body">
            <span th:text="${text}"></span>
        </div>
        <div class="card-footer" th:if="${#authentication.getName().equals(author)}">
            <div class="row">
                <form class="col-2">
                    <button class="btn btn-dark col text-center mr-1" type="button">Edit</button>
                </form>
                <form class="col" th:action="@{/messages/delete/{id}(id=${id})}" th:method="delete">
                    <button class="btn btn-danger col-2 text-center" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>