<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<div th:replace="/fragments/navbar :: navbar"></div>

<div class="container">
    <a href="/registration">Register now</a>
    <br>
    <form th:action="@{/login}" method="post">
        <label for="username">Login</label>
        <input type="text" name="username" id="username" autocomplete="off">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocomplete="off">
        <br>
        <button type="submit">Login</button>
    </form>
</div>

<script src="/webjars/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="/webjars/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>