<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/import :: header(~{::title})">
    <title>Messages</title>
</head>

<body>
<div th:replace="/fragments/navbar :: navbar"></div>

<div class="container">
    <form method="post" th:action="@{/logout}">
        <button type="submit">Logout</button>
    </form>
    <br>
    <form method="post" th:action="@{/messages}">
        <label for="text">Text</label>
        <input type="text" name="text" id="text" autocomplete="off" required>
        <br>
        <button type="submit">Submit</button>
    </form>
    <ul th:each="message : ${messages}">
        <li th:text="${message}"></li>
    </ul>
</div>

<div th:replace="/fragments/import :: scripts"></div>
</body>
</html>