<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Messages</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<div th:replace="/fragments/navbar :: navbar"></div>

<div class="container">
    <form method="post" th:action="@{/logout}">
        <button type="submit">Logout</button>
    </form>
    <br>
    <form method="post" th:action="@{/messages}">
        <label for="text">Text</label>
        <input type="text" name="text" id="text" autocomplete="off" required>
        <br>
        <button type="submit">Submit</button>
    </form>
    <ul th:each="message : ${messages}">
        <li th:text="${message}"></li>
    </ul>
</div>

<script src="/webjars/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="/webjars/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>