<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/import :: header(~{::title}, ~{})">
    <title>Hello</title>
</head>

<body>
<nav th:replace="/fragments/navbar :: navbar"></nav>
<div class="container" sec:authorize="isAnonymous()">
    <div class="row">
        <div class="mx-auto mt-3 mb-3">
            <h1 th:text="'Hello, ' + ${name} + '!'"></h1>
        </div>
    </div>
    <div class="row">
        <div class="d-flex flex-column mx-auto mb-3">
            <a href="/login" class="btn btn-primary btn-lg" role="button">Sign in</a>
            <a href="/registration" class="btn btn-secondary btn-lg mt-2" role="button">Sign up</a>
        </div>
    </div>
    <hr>
</div>

<div class="container" sec:authorize="isAuthenticated()">
    <div th:replace="/fragments/import :: scripts(~{})">
        <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    </div>
</div>
</body>
</html>